@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('datepicker-style.css');
@import url('https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css'); */

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
}
/* #f3f4f6 */
::-webkit-scrollbar-track {
    background: #f3f4f6;
}

::-webkit-scrollbar-thumb {
    background: #10b981;
}

::-webkit-scrollbar-thumb:hover {
    background: #10b981;
}
